*
    box-sizing: border-box
h1, h2, h3, h4, h5, p, label, ul, li, body, html
    margin: 0 
    padding: 0
html, body 
    width: 100%
    overflow-x: hidden
    font-family: 'Microsoft YaHei'

h2.font
    font-family: 'Pacifico', cursive
    display: inline-block

.icon
    display: inline-block

.container
    width: $containerW
    margin: 0 auto
    @media(max-width: media-mobile)
        width: 100vw

.clearfix 
    content: ""
    display: table
    clear: both
