extends layout

block currentUrl
    -var currentUrl = 'index'

block content
    .index
        include widgets/header.jade

        .container
            h1 content
            

        include widgets/footer.jade


            

                

